[submodule "frontend"]
	path = frontend
	url = https://github.com/JustRandomGerman/recipe-book-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/JustRandomGerman/recipe-book-backend
